.board-row{
  display: flex;
  align-items: center;
}

.square{
  border: 2px solid black;
  padding: 30px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.board-container{
  margin:20px;
  position: absolute;
  left: 500px;
  top: 100px;
}